In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [3]:
#Load dataset from sklearn.datasets
from sklearn.datasets import load_boston
boston=load_boston()

In [4]:
#transform data set into a data frame
#data = the data we want or the independent variables also know as x values
#features_names = the colom names of the data
#target = the target variables or the price of the houses , the dependent variables the y values
df_x=pd.DataFrame(boston.data,columns=boston.feature_names)
df_y=pd.DataFrame(boston.target)

In [17]:
#Get stats from Dataset

df_x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [29]:
#initialize the linear regression model
reg=linear_model.LinearRegression()

In [39]:
#split the data into 67%train and 33% testing data
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.33,random_state=42)

In [31]:
#Train model with our training data
reg.fit(x_train,y_train)

LinearRegression()

In [32]:
#print the coef/weights for feature/column of our model
print(reg.coef_)

[[-1.28749718e-01  3.78232228e-02  5.82109233e-02  3.23866812e+00
  -1.61698120e+01  3.90205116e+00 -1.28507825e-02 -1.42222430e+00
   2.34853915e-01 -8.21331947e-03 -9.28722459e-01  1.17695921e-02
  -5.47566338e-01]]

In [52]:
y_pred=reg.predict(x_test)

In [40]:
#print the actual values
print(y_test)

        0
173  23.6
274  32.4
491  13.6
72   22.8
452  16.1
..    ...
110  21.7
321  23.1
265  22.8
29   21.0
262  48.8

[167 rows x 1 columns]

In [41]:
#check the model performance / accuracy using mean squared error
print(np.mean((y_pred-y_test)**2))

0    20.724023
dtype: float64